div
{
    width:20%;
    height: 20vh;
    border:solid 2px green;
    transition: 3s;
    overflow:hidden ;
}
div:hover
{
    /* transform: translate(30px,50px); */
    /* transform: skew(55deg); */
    /* transform: skewY(55deg); */
    /* transform: rotate(360deg); */
    /* transform: rotateX(360deg); */
    /* transform: rotateY(90deg); */
    /* transform: scale(1,0.5); */
    
}
img
{
    width: 100%;
    height: 100%;
    transition: 3s;
    filter:sepia(300%);
}
img:hover
{
    filter: sepia(200%);
    filter:saturate(200%);
    filter:invert(100%);
    filter:grayscale(0%);
    filter:contrast(200%)
    filter: brightness(200%);
    filter: blur(0px);
    transform: scale(2,2);
}